.mdeditor-loading-container {
  width: 100%;
  height: 100%;
  background-color: #000000c2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  z-index: 100;
}

.mdeditor-loading {
  width: 30px;
  height: 30px;
  border: 5px solid #fff;
  border-top-color: transparent;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  /* right: 50%; */
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;

  animation: loading-circle infinite 0.75s linear;
}

@keyframes loading-circle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.mdeditor-fullscreen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.mdeditor-tools {
  height: 30px;
  border: 1px solid whitesmoke;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
  /* padding-top: 3px; */
  /* line-height: 30px; */
}

.mdeditor-tools .item {
  font-size: 20px;
  margin-right: 2px;
  margin-left: 2px;
  color: #6b6666;
  cursor: pointer;
  padding: 4px;
  background: #f7f7f7;
  /* border-right: 1px solid gray; */
}

.mdeditor-tools .icon-left {
  float: left;
}

.mdeditor-tools .icon-right {
  float: right;
}

.mdeditor-tools .item:hover {
  background-color: #d7d6d6;
  color: black;
}

.mdeditor-main {
  height: calc(100% - 32px);
  display: flex;
  width: 100%;
}

.mdeditor-editor-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.mdeditor-toc {
  height: 100%;
  overflow: auto;
  border: 1px solid #e5e5e5;
  /* background-color: black;
  color: white; */
}

.mdeditor-toc ul {
  /* list-style: circle; */
  padding-inline-start: 20px;
}

.mdeditor-toc a {
  text-decoration: none;
  color: #5f5d5d;
  font-size: 12px;
}

.mdeditor-toc a:hover {
  text-decoration: underline;
  color: #10b981;
  font-size: 12px;
}

.mdeditor-editor {
  height: 100%;
  width: 50%;
}

.mdeditor-preview {
  height: 100%;
  width: 50%;
  background-color: white;
  padding: 0px 26px;
  overflow: auto;
  scroll-behavior: smooth;

  /* background-color: black; */
}

.mdeditor-dialog {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* base */
.mdeditor-preview iframe {
  width: 100%;
  height: 350px;
  border: none;
}

:root {
  --space: 0.25rem;
}

.mdeditor-preview img {
  background-image: linear-gradient(45deg,
      #eee 25%,
      transparent 25%,
      transparent 75%,
      #eee 75%,
      #eee 100%),
    linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
  background-position:
    0 0,
    calc(2 * var(--space)) calc(2 * var(--space));
  background-size: calc(4 * var(--space)) calc(4 * var(--space));
  max-width: 100%;
}

.mdeditor-preview .mermaid {
  /* background: white; */
}

.mdeditor-scrolltop {
  position: sticky;
  z-index: 1;
  bottom: 10px;
  /* right: 20px; */
  background-color: black;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  text-align: center;
  cursor: pointer;
  margin-left: calc(100% - 24px);
  line-height: 1 !important;
}

.mdeditor-scrolltop .iconfont {
  font-size: 24px;
}

.editor-scrolltop {
  margin-left: 0px;
}

.viewer-open {
  overflow: auto !important;
}

.mdeditor-float-container {
  background-color: white;
  /* min-height: 100px;
  min-width: 60px; */
  border: 1px solid #e9e9e9;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  display: none;
  max-height: 560px;
  overflow: auto;
}

.mdeditor-theme-select {
  height: 25px;
}

.mdeditor-theme-select-item {
  /* height: 20px; */
  font-size: 14px;
  border-bottom: 1px solid #e9e9e9;
  padding: 2px 8px;
  cursor: pointer;
}

.mdeditor-theme-select-item:hover {
  background-color: #d7d6d6;
  /* color: white; */
}

.mdeditor-theme-select-item.active {
  background-color: #1e1e1e;
  color: #fff;
}

.markmap-render {
  width: 100%;
  min-height: 500px;
}

.markmap-foreign code {
  background: none !important;
}

.excel-container {
  width: 100%;
  height: 400px;
  overflow: scroll;
}

.mdeditor-dark {
  background: #1E1E1E !important;
  color: #9b9999 !important;
}

.mdeditor-panel-dark {
  border: 1px solid #000;
}

.mdeditor-dark .mdeditor-theme-select-item {
  border-bottom: 1px solid #000;
}

.mdeditor-dark .mdeditor-theme-select-item:hover {
  background-color: #000;
}


/* copy from https://github.com/vuejs/vitepress/blob/v1.0.0-beta.6/src/client/theme-default/styles/vars.css */
:root {
  --vp-c-white: #ffffff;
  --vp-c-black: #000000;

  --vp-c-gray: #8e8e93;

  --vp-c-text-light-1: rgba(60, 60, 67);
  --vp-c-text-light-2: rgba(60, 60, 67, 0.75);
  --vp-c-text-light-3: rgba(60, 60, 67, 0.33);

  --vp-c-text-dark-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-dark-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-dark-3: rgba(235, 235, 245, 0.38);

  --vp-c-green: #10b981;
  --vp-c-green-light: #34d399;
  --vp-c-green-lighter: #6ee7b7;
  --vp-c-green-dark: #059669;
  --vp-c-green-darker: #047857;
  --vp-c-green-dimm-1: rgba(16, 185, 129, 0.05);
  --vp-c-green-dimm-2: rgba(16, 185, 129, 0.2);
  --vp-c-green-dimm-3: rgba(16, 185, 129, 0.5);

  --vp-c-yellow: #d97706;
  --vp-c-yellow-light: #f59e0b;
  --vp-c-yellow-lighter: #fbbf24;
  --vp-c-yellow-dark: #b45309;
  --vp-c-yellow-darker: #92400e;
  --vp-c-yellow-dimm-1: rgba(234, 179, 8, 0.05);
  --vp-c-yellow-dimm-2: rgba(234, 179, 8, 0.2);
  --vp-c-yellow-dimm-3: rgba(234, 179, 8, 0.5);

  --vp-c-red: #f43f5e;
  --vp-c-red-light: #fb7185;
  --vp-c-red-lighter: #fda4af;
  --vp-c-red-dark: #e11d48;
  --vp-c-red-darker: #be123c;
  --vp-c-red-dimm-1: rgba(244, 63, 94, 0.05);
  --vp-c-red-dimm-2: rgba(244, 63, 94, 0.2);
  --vp-c-red-dimm-3: rgba(244, 63, 94, 0.5);

  --vp-c-sponsor: #db2777;
}

/* copy from https://github.com/vuejs/vitepress/blob/v1.0.0-beta.6/src/client/theme-default/styles/vars.css */
/**
 * Colors Theme
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-bg: #ffffff;

  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-elv-up: #ffffff;
  --vp-c-bg-elv-down: #f6f6f7;
  --vp-c-bg-elv-mute: #f6f6f7;

  --vp-c-bg-soft: #f6f6f7;
  --vp-c-bg-soft-up: #f9f9fa;
  --vp-c-bg-soft-down: #e3e3e5;
  --vp-c-bg-soft-mute: #e3e3e5;

  --vp-c-bg-alt: #f6f6f7;

  --vp-c-border: rgba(60, 60, 67, 0.29);
  --vp-c-divider: rgba(60, 60, 67, 0.12);
  --vp-c-gutter: rgba(60, 60, 67, 0.12);

  --vp-c-neutral: var(--vp-c-black);
  --vp-c-neutral-inverse: var(--vp-c-white);

  --vp-c-text-1: var(--vp-c-text-light-1);
  --vp-c-text-2: var(--vp-c-text-light-2);
  --vp-c-text-3: var(--vp-c-text-light-3);

  --vp-c-text-inverse-1: var(--vp-c-text-dark-1);
  --vp-c-text-inverse-2: var(--vp-c-text-dark-2);
  --vp-c-text-inverse-3: var(--vp-c-text-dark-3);

  --vp-c-text-code: #476582;

  --vp-c-brand: var(--vp-c-green);
  --vp-c-brand-light: var(--vp-c-green-light);
  --vp-c-brand-lighter: var(--vp-c-green-lighter);
  --vp-c-brand-dark: var(--vp-c-green-dark);
  --vp-c-brand-darker: var(--vp-c-green-darker);

  --vp-c-mute: #f6f6f7;
  --vp-c-mute-light: #f9f9fc;
  --vp-c-mute-lighter: #ffffff;
  --vp-c-mute-dark: #e3e3e5;
  --vp-c-mute-darker: #d7d7d9;
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-font-size: 14px;
  --vp-custom-block-code-font-size: 13px;

  --vp-custom-block-info-border: var(--vp-c-border);
  --vp-custom-block-info-text: var(--vp-c-text-2);
  --vp-custom-block-info-bg: var(--vp-c-bg-soft);
  --vp-custom-block-info-code-bg: var(--vp-c-mute);

  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand);
  --vp-custom-block-tip-bg: var(--vp-c-bg-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-mute);

  --vp-custom-block-warning-border: var(--vp-c-yellow);
  --vp-custom-block-warning-text: var(--vp-c-yellow);
  --vp-custom-block-warning-bg: var(--vp-c-bg-soft);
  --vp-custom-block-warning-code-bg: var(--vp-c-mute);

  --vp-custom-block-danger-border: var(--vp-c-red);
  --vp-custom-block-danger-text: var(--vp-c-red);
  --vp-custom-block-danger-bg: var(--vp-c-bg-soft);
  --vp-custom-block-danger-code-bg: var(--vp-c-mute);

  --vp-custom-block-details-border: var(--vp-custom-block-info-border);
  --vp-custom-block-details-text: var(--vp-custom-block-info-text);
  --vp-custom-block-details-bg: var(--vp-custom-block-info-bg);
  --vp-custom-block-details-code-bg: var(--vp-custom-block-details-bg);
}

/**
 * Component: Code
 * -------------------------------------------------------------------------- */

:root {
  --vp-code-line-height: 1.7;
  --vp-code-font-size: 0.875em;
  --vp-c-code-dimm: var(--vp-c-text-dark-3);

  --vp-code-block-color: var(--vp-c-text-dark-1);
  --vp-code-block-bg: #292b30;
  --vp-code-block-bg-light: #1e1e20;
  --vp-code-block-divider-color: #000000;

  --vp-code-line-highlight-color: rgba(0, 0, 0, 0.5);
  --vp-code-line-number-color: var(--vp-c-code-dimm);

  --vp-code-line-diff-add-color: var(--vp-c-green-dimm-2);
  --vp-code-line-diff-add-symbol-color: var(--vp-c-green);

  --vp-code-line-diff-remove-color: var(--vp-c-red-dimm-2);
  --vp-code-line-diff-remove-symbol-color: var(--vp-c-red);

  --vp-code-line-warning-color: var(--vp-c-yellow-dimm-2);
  --vp-code-line-error-color: var(--vp-c-red-dimm-2);

  --vp-code-copy-code-border-color: transparent;
  --vp-code-copy-code-bg: var(--vp-code-block-bg-light);
  --vp-code-copy-code-hover-border-color: var(--vp-c-divider);
  --vp-code-copy-code-hover-bg: var(--vp-code-block-bg-light);
  --vp-code-copy-code-active-text: var(--vp-c-text-dark-2);

  --vp-code-tab-divider: var(--vp-code-block-divider-color);
  --vp-code-tab-text-color: var(--vp-c-text-dark-2);
  --vp-code-tab-bg: var(--vp-code-block-bg);
  --vp-code-tab-hover-text-color: var(--vp-c-text-dark-1);
  --vp-code-tab-active-text-color: var(--vp-c-text-dark-1);
  --vp-code-tab-active-bar-color: var(--vp-c-brand);
}

.custom-block {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 16px 16px 8px;
  line-height: 24px;
  font-size: var(--vp-custom-block-font-size);
  color: var(--vp-c-text-2);
}

.custom-block.info {
  border-color: var(--vp-custom-block-info-border);
  color: var(--vp-custom-block-info-text);
  /* background-color: var(--vp-custom-block-info-bg); */
}

.custom-block.custom-block th,
.custom-block.custom-block blockquote>p {
  font-size: var(--vp-custom-block-font-size);
  color: inherit;
}

.custom-block.info code {
  /* background-color: var(--vp-custom-block-info-code-bg); */
}

.custom-block.tip {
  border-color: var(--vp-custom-block-tip-border);
  color: var(--vp-custom-block-tip-text);
  /* background-color: var(--vp-custom-block-tip-bg); */
}

.custom-block.tip code {
  /* background-color: var(--vp-custom-block-tip-code-bg); */
}

.custom-block.warning {
  border-color: var(--vp-custom-block-warning-border);
  color: var(--vp-custom-block-warning-text);
  /* background-color: var(--vp-custom-block-warning-bg); */
}

.custom-block.warning code {
  /* background-color: var(--vp-custom-block-warning-code-bg); */
}

.custom-block.danger {
  border-color: var(--vp-custom-block-danger-border);
  color: var(--vp-custom-block-danger-text);
  /* background-color: var(--vp-custom-block-danger-bg); */
}

.custom-block.danger code {
  /* background-color: var(--vp-custom-block-danger-code-bg); */
}

.custom-block.details {
  border-color: var(--vp-custom-block-details-border);
  color: var(--vp-custom-block-details-text);
  /* background-color: var(--vp-custom-block-details-bg); */
}

.custom-block.details code {
  /* background-color: var(--vp-custom-block-details-code-bg); */
}

.custom-block-title {
  font-weight: 600;
}

.custom-block p+p {
  margin: 8px 0;
}

.custom-block.details summary {
  margin: 0 0 8px;
  font-weight: 700;
  cursor: pointer;
}

.custom-block.details summary+p {
  margin: 8px 0;
}

.custom-block a {
  color: inherit;
  font-weight: 600;
  text-decoration: underline dotted;
  text-underline-offset: 2px;
  transition: opacity 0.25s;
}

.custom-block a:hover {
  opacity: 0.75;
}

.custom-block code {
  font-size: var(--vp-custom-block-code-font-size);
}

/**
 * Custom Block
 * -------------------------------------------------------------------------- */

.vp-doc .custom-block {
  margin: 16px 0;
}

.vp-doc .custom-block p {
  margin: 8px 0;
  line-height: 24px;
}

.vp-doc .custom-block p:first-child {
  margin: 0;
}

.vp-doc .custom-block a {
  color: inherit;
  font-weight: 600;
}

.vp-doc .custom-block code {
  font-size: var(--vp-custom-block-code-font-size);
  font-weight: 700;
  color: inherit;
}

.vp-doc .custom-block pre[class*="language-"] {
  margin: 8px 0;
  border-radius: 8px;
}

.vp-doc .custom-block pre[class*="language-"] code {
  font-weight: 400;
  background-color: transparent;
}

.vp-doc .custom-block .vp-code-group .tabs {
  margin: 0;
  border-radius: 8px 8px 0 0;
}

/* code-group */
.vp-code-group {
  margin-top: 16px;
}

.vp-code-group .tabs {
  position: relative;
  display: flex;
  margin-right: -24px;
  margin-left: -24px;
  padding: 0 12px;
  background-color: var(--vp-code-tab-bg);
  background-color: #1e1e1e;
  overflow-x: auto;
  overflow-y: hidden;
}

.vp-code-group .tabs::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: var(--vp-code-tab-divider);
  content: "";
}

@media (min-width: 640px) {
  .vp-code-group .tabs {
    margin-right: 0;
    margin-left: 0;
    border-radius: 8px 8px 0 0;
  }
}

.vp-code-group .tabs input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.vp-code-group .tabs label {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid transparent;
  padding: 0 12px;
  line-height: 48px;
  font-size: 14px;
  font-weight: 500;
  color: var(--vp-code-tab-text-color);
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.25s;
}

.vp-code-group .tabs label::after {
  position: absolute;
  right: 8px;
  bottom: -1px;
  left: 8px;
  z-index: 1;
  height: 1px;
  content: "";
  background-color: transparent;
  transition: background-color 0.25s;
}

.vp-code-group label:hover {
  color: var(--vp-code-tab-hover-text-color);
}

.vp-code-group input:checked+label {
  color: var(--vp-code-tab-active-text-color);
}

.vp-code-group input:checked+label::after {
  background-color: var(--vp-code-tab-active-bar-color);
}

.vp-code-group pre {
  display: none;
  margin-top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.vp-code-group pre.active {
  display: block;
}

.vp-doc .header-anchor {
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  font-weight: 500;
  user-select: none;
  opacity: 0;
  transition:
    color 0.25s,
    opacity 0.25s;
}

.vp-doc .header-anchor:before {
  content: var(--vp-header-anchor-symbol);
}

.vp-doc h1:hover .header-anchor,
.vp-doc h1 .header-anchor:focus,
.vp-doc h2:hover .header-anchor,
.vp-doc h2 .header-anchor:focus,
.vp-doc h3:hover .header-anchor,
.vp-doc h3 .header-anchor:focus,
.vp-doc h4:hover .header-anchor,
.vp-doc h4 .header-anchor:focus,
.vp-doc h5:hover .header-anchor,
.vp-doc h5 .header-anchor:focus,
.vp-doc h6:hover .header-anchor,
.vp-doc h6 .header-anchor:focus {
  opacity: 1;
}