@charset "UTF-8";
.markdown-body {
  position: relative;
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 15px;
  color: #282d36;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.markdown-body h1 {
  font-size: 30px;
  margin-bottom: 5px;
  color: #2f845e;
}
.markdown-body h2 {
  font-size: 22px;
  display: inline-block;
  font-weight: bold;
  background: #2f845e;
  color: #fff;
  padding: 6px 8px 0 0;
  border-top-right-radius: 6px;
  margin-right: 2px;
  box-shadow: 6px 3px 0px 0px rgba(47, 132, 194, 0.2);
}
.markdown-body h2::before {
  content: " ";
  display: inline-block;
  width: 8px;
}
.markdown-body h2::after {
  content: " ";
  position: absolute;
  display: block;
  width: calc(100% - 32px);
  border-bottom: 3px #2f845e solid;
}
.markdown-body h3 {
  font-size: 18px;
  padding-bottom: 0;
}
.markdown-body h4 {
  font-size: 16px;
}
.markdown-body h5 {
  font-size: 15px;
}
.markdown-body h6 {
  margin-top: 5px;
}
.markdown-body p {
  line-height: inherit;
  margin-top: 22px;
  margin-bottom: 22px;
}
.markdown-body img {
  max-width: 100%;
  box-shadow: 6px 6px 6px #888;
}
.markdown-body hr {
  border-top: 1px solid rgba(66, 185, 131, 0.15);
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 32px;
  margin-bottom: 32px;
}
.markdown-body code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  word-break: break-word;
  border-radius: 2px;
  overflow-x: auto;
  background-color: #f6ffed;
  color: #52c41a;
  font-size: 0.87em;
  padding: 0.065em 0.4em;
}
.markdown-body pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  position: relative;
  line-height: 1.75;
}
.markdown-body pre > code {
  font-size: 12px;
  padding: 16px 12px;
  margin: 0;
  word-break: normal;
  display: block;
  overflow-x: auto;
  color: #262626;
  border-top: 1px solid #2f845e;
  border-bottom: 1px solid #2f845e;
  border-left: 1px solid #2f845e;
  border-right: 1px solid #2f845e;
  background: linear-gradient(
    180deg,
    rgba(66, 185, 131, 0.1),
    transparent
  ) !important;
}
.markdown-body pre > code.hljs[lang]:before {
  top: 8px !important;
  color: #2f845e !important;
}
.markdown-body pre > code.language-awesome_error {
  border: 1px solid #ff4d4f !important;
  border-left-width: 8px;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 12px 15px 16px;
  margin: 0;
  word-break: normal;
  white-space: break-spaces;
  display: block;
  overflow-x: auto;
  color: #ff4d4f !important;
  background: #fff2f0 !important;
}
.markdown-body pre > code.language-awesome_error:before {
  content: "!" !important;
  position: absolute !important;
  top: 50% !important;
  left: -9px !important;
  transform: translateY(-14px) !important;
  background: #ff4d4f !important;
  color: #fff !important;
  border: 2px solid #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  font-weight: bold;
  font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}
.markdown-body pre > code.language-awesome_warn {
  border: 1px solid #ffc46f !important;
  border-left-width: 8px;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 12px 15px 16px;
  margin: 0;
  word-break: normal;
  white-space: break-spaces;
  display: block;
  overflow-x: auto;
  color: #ffc46f !important;
  background: #fffbe6 !important;
}
.markdown-body pre > code.language-awesome_warn:before {
  content: "☂" !important;
  position: absolute;
  top: 50% !important;
  left: -9px !important;
  transform: translateY(-14px) !important;
  background: #ffc46f !important;
  color: #fff !important;
  border: 2px solid #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  font-weight: bold;
  font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}
.markdown-body pre > code.language-awesome_success {
  border: 1px solid #52c41a !important;
  border-left-width: 8px;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 12px 15px 16px;
  margin: 0;
  word-break: normal;
  white-space: break-spaces;
  display: block;
  overflow-x: auto;
  color: #52c41a !important;
  background: #f6ffed !important;
}
.markdown-body pre > code.language-awesome_success:before {
  content: "✓" !important;
  position: absolute !important;
  top: 50% !important;
  left: -9px !important;
  transform: translateY(-14px) !important;
  background: #52c41a !important;
  color: #fff !important;
  border: 2px solid #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  font-weight: bold;
  font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}
.markdown-body pre > code.language-awesome_info {
  border: 1px solid #1890ff !important;
  border-left-width: 8px;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 12px 15px 16px;
  margin: 0;
  word-break: normal;
  white-space: break-spaces;
  display: block;
  overflow-x: auto;
  color: #1890ff !important;
  background: #e6f7ff !important;
}
.markdown-body pre > code.language-awesome_info:before {
  content: "i" !important;
  position: absolute !important;
  top: 50% !important;
  left: -9px !important;
  transform: translateY(-14px) !important;
  background: #1890ff !important;
  color: #fff !important;
  border: 2px solid #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  font-weight: bold;
  font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}
.markdown-body strong {
  background-color: inherit;
  color: #2f845e;
}
.markdown-body em {
  background-color: inherit;
  color: #949415;
}
.markdown-body a {
  text-decoration: none;
  color: #2f8e54;
  border-bottom: 1px solid #3f9e64;
}
.markdown-body a:hover,
.markdown-body a:active {
  color: #3f9e64;
}
.markdown-body a[class^="footnote"] {
  margin-left: 4px;
}
.markdown-body a::before {
  content: "➤ ";
}
.markdown-body table {
  font-size: 12px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  border: 2px #2f8e54 solid;
}
.markdown-body thead {
  background: #2f8e54;
  color: #fff;
  text-align: left;
  font-weight: bold;
}
.markdown-body tr:nth-child(2n) {
  background-color: rgba(153, 255, 188, 0.1);
}
.markdown-body th,
.markdown-body td {
  padding: 12px 7px;
  line-height: 22px;
}
.markdown-body td {
  min-width: 120px;
}
.markdown-body blockquote {
  padding: 1px 22px;
  margin: 22px 0;
  border-left: 6px solid #2f845e;
  background-color: rgba(66, 185, 131, 0.1);
  border-radius: 2px;
}
.markdown-body blockquote::after {
  display: block;
  content: "";
}
.markdown-body blockquote > p {
  margin: 10px 0;
}
.markdown-body ol,
.markdown-body ul {
  padding-left: 28px;
}
.markdown-body ol li,
.markdown-body ul li {
  margin-bottom: 0;
  list-style: inherit;
}
.markdown-body ol li::marker,
.markdown-body ul li::marker {
  color: #2f845e;
}
.markdown-body ol li .task-list-item,
.markdown-body ul li .task-list-item {
  list-style: none;
}
.markdown-body ol li .task-list-item ul,
.markdown-body ol li .task-list-item ol,
.markdown-body ul li .task-list-item ul,
.markdown-body ul li .task-list-item ol {
  margin-top: 0;
}
.markdown-body ol ul,
.markdown-body ol ol,
.markdown-body ul ul,
.markdown-body ul ol {
  margin-top: 3px;
}
.markdown-body ol li {
  padding-left: 6px;
  color: #282d36;
}
.markdown-body del {
  color: #2f845e;
}
.markdown-body input[type="checkbox"]:checked:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA/klEQVQ4T72TMU7DQBBF318XdFR06egQEnAXRINEGlqgowoIR8AF4AZOZ4JEGq5AC5EixBU4A55BNrEVHAcSBTHlaubt37/zxZKlcn7n6mDPXJvz8IJ89HzWu8t7C8D2dfsY52ae4apHnLx0ktsCsHXZjiUuFgG40x2eJ/H/AhztB+zDUTpLwWj8jGkzxSHiHaMPrDQC8sMoilKzLAUqiKQjmb+ZuAdW80tmelCHODoNgSfP7AFprTTaRTzsJN1GEyuIZ7uW6TEEHwCtyV/6EVBKJHhfzgC0Xv/iXwEFBF4FG0378bd7sPQq5xK/hSnk6sdlX3mZrKkwLZKBeu8n9XuWEUE7X+YAAAAASUVORK5CYII=);
  position: relative;
  top: -1px;
  left: -1px;
}
.markdown-body .math .katex {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  word-break: break-word;
  border-radius: 2px;
  overflow-x: auto;
  background-color: #f6ffed;
  color: #52c41a;
  font-size: 0.87em;
  padding: 0.065em 0.4em;
}
@media (max-width: 720px) {
  .markdown-body h1 {
    font-size: 22px;
  }
  .markdown-body h2 {
    font-size: 20px;
  }
  .markdown-body h3 {
    font-size: 18px;
  }
}
